{
  "swagger": "2.0",
  "info": {
    "title": "Chat API",
    "description": "Chat Module APIs",
    "version": "1.0.0"
  },
  "host": "bible-chat.skyraantech.com/api/chat",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/create-conversation": {
      "post": {
        "tags": [
          "Chat"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "app_id": {
                  "type": "number",
                  "example": 0
                },
                "post_id": {
                  "type": "number",
                  "example": 0
                },
                "sender_id": {
                  "type": "number",
                  "example": 0
                },
                "receiver_id": {
                  "type": "number",
                  "example": 0
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation created successfully",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "message": {
                  "type": "string",
                  "example": "Conversation created successfully"
                },
                "conversation_id": {
                  "type": "number",
                  "example": 4
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversation-list": {
      "post": {
        "tags": [
          "Chat"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "number",
                  "example": 0
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/single-conversation": {
      "post": {
        "tags": [
          "Chat"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "number",
                  "example": 0
                },
                "conversation_id": {
                  "type": "number",
                  "example": 0
                },
                "page": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation created successfully",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "total": {
                  "type": "number",
                  "example": 1
                },
                "total_pages": {
                  "type": "number",
                  "example": 1
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "example": 55
                      },
                      "conversation_id": {
                        "type": "number",
                        "example": 3
                      },
                      "sender_id": {
                        "type": "number",
                        "example": 1
                      },
                      "sender_name": {
                        "type": "string",
                        "example": "name"
                      },
                      "message": {
                        "type": "string",
                        "example": "Hello"
                      },
                      "message_type": {
                        "type": "string",
                        "example": "text"
                      },
                      "reply_message_id": {
                        "type": "number",
                        "example": 0
                      },
                      "reply_message": {
                        "type": "string",
                        "example": ""
                      },
                      "is_edited": {
                        "type": "number",
                        "example": 0
                      },
                      "is_read": {
                        "type": "number",
                        "example": 0
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2026-08-12 12:04:06"
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/send-message": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Send Message",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversation_id": {
                  "type": "number",
                  "example": 1
                },
                "sender_id": {
                  "type": "number",
                  "example": 1
                },
                "receiver_id": {
                  "type": "number",
                  "example": 1
                },
                "message": {
                  "type": "string",
                  "example": "Hello"
                },
                "message_type": {
                  "type": "string",
                  "example": "text"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation created successfully",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "message": {
                  "type": "string",
                  "example": "Message sent successfully"
                },
                "data": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/edit-message": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Send Message",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversation_id": {
                  "type": "number",
                  "example": 1
                },
                "message_id": {
                  "type": "number",
                  "example": 1
                },
                "sender_id": {
                  "type": "number",
                  "example": 1
                },
                "message": {
                  "type": "string",
                  "example": "Hello"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation created successfully",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "message": {
                  "type": "string",
                  "example": "Message updated"
                },
                "data": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/read-message": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Update Read Status",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversation_id": {
                  "type": "number",
                  "example": 1
                },
                "user_id": {
                  "type": "number",
                  "example": 2
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "message": {
                  "type": "string",
                  "example": "Messages marked as read"
                },
                "data": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/delete-message": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Delete Message",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "message_id": {
                  "type": "number",
                  "example": 1
                },
                "sender_id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/delete-conversation": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Delete Conversation",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversation_id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/online-status": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Delete Conversation",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "number",
                  "example": 1
                },
                "is_online": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}